<div class="content" role="main">
    <h1 >Submit Tax Filing</h1>
    <div class="steps">
        <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex" ></p-steps>
    </div>
</div>
<div class="grid">
        <!-- <div class="flex align-items-center justify-content-center mb-4">
            <h5 style="font-size:3vw;">Submit Tax Filing</h5>
        </div>
        <div class="flex align-items-center justify-content-center mb-4">
            <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex" class="steps"></p-steps>
        </div> -->
            <div class="col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12 xs:col-6" *ngIf="pageOn1" >
            <div class="card ">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border" style="margin-top: 20px;">
                    <h5  style="font-weight: bold; ">1.Tax Filing Detail</h5>
                </li>
                
               
                
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 ">
                        <div class="row mx-0">
                            <div class="col-12 pl-0">
                                <span style="font-weight: bold;"> Type of Filing <span style="color: red; font-weight: bold;"> * </span></span>
                            </div>
                            <div class="col pl-0">
                                <p-radioButton name="filingType" value="0" [(ngModel)]="filingType" inputId="0"  binary="true" (onClick)="clickFiling0()" [class]="invalidradio"></p-radioButton>
                                <label for="0" style="margin-left: 5px;">Ordinary Filing <i class="pi pi-question-circle"></i></label>
                                
                                <p-radioButton name="filingType" value="1" [(ngModel)]="filingType" inputId="1" class="rdo" (onClick)="clickFiling1()" [class]="invalidradio"></p-radioButton>
                                <label for="1" style="margin-left: 5px;">Additional Filing <i class="pi pi-question-circle"></i></label>
                            </div>
                        </div>
                
                    </li>
                    <li class="flex align-items-center py-2">
                    <div class="grid">
                        <div class="grid-items">
                            <div class="row mx-0">
                                <div class="col-12 pl-0">
                                    <span style="font-weight: bold; margin-left: 10px;"> VAT Month <span style="color: red; font-weight: bold;"> * </span></span>
                                </div>
                                <div class="col-12 pl-0">
                                    <p-dropdown [options]="monthchoose" [(ngModel)]="month" optionLabel="name" class="col-2" (onChange)="changemonth($event)" [class]="invalidmonth" placeholder="Select month"></p-dropdown>
                                    <p-dropdown [options]="yearchoose" [(ngModel)]="year" optionLabel="name" class="col-6" (onChange)="changeyear($event)" [class]="invalidyear" placeholder="Select year"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid-items" *ngIf="typeshow">
                            <div class="row mx-0">
                                <div class="col-12 pl-0">
                                    <span style="font-weight: bold;"> Type <span style="color: red; font-weight: bold;"> * </span></span>
                                </div>
                                <div class="col-12 pl-0">
                                    <p-dropdown [options]="typechoose" [(ngModel)]="type" optionLabel="name" class="col-2" (onChange)="changetype($event)" [class]="invalidtype" placeholder="Select type"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                    </li>
                    <div class="flex align-items-center justify-content-between mb-4" style="margin-top: 10px;">
                        <h5  style="font-weight: bold; ">2.Tax Computation</h5>
                        <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" >
                            <i class="pi pi-ellipsis-v"></i>
                        </button>
                        <span class="block text-600 font-medium mb-3" class="View"><u>View Exchange Rate</u></span>
                    </div>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border" style="margin-top: -20px;">
                    </li>
                    
                </ul>
                
                <span style="font-weight: bold;">Provide total value taxable electronic service<span style="color: red; font-weight: bold;"> * </span></span>
                <ul class="p-0 m-0 list-none" >
               
                    <li class="flex align-items-center py-2 flex-container">
                        
                       
                            <span class="item" style="margin-top: 10px;"> 1. Total value of taxable electronic service exclusive of VAT</span>
                            <p-inputNumber [(ngModel)]="saleAmount" mode="decimal" (onInput)="onInput($event)" [useGrouping]="inputId" (onBlur)="onBlur($event)" [minFractionDigits]="2"  [inputStyle]="{'text-align': 'right'}" placeholder="THB"  [class]="invalidnum"></p-inputNumber>
                  
                    </li>
                    <li class="flex align-items-center py-2 flex-container">
                        
                            <span class="item" style="margin-top: 10px;"> 2. Total VAT to be remitted (7% of 1.)</span>
                            <p-inputNumber [(ngModel)]="taxAmount"  mode="decimal" (onFocus)="onInputS($event)" (onInput)="onInputS($event)" [styleClass]="class"  [useGrouping]="inputIdS" (onBlur)="onBlurS($event)" [minFractionDigits]="2" [styleClass]="class" [inputStyle]="{'text-align': 'right'}" placeholder="THB"  inputId="minmax" [class]="invalidnum2"></p-inputNumber>
                       
                    </li>
                </ul>
                <div style="margin-top: 10px;" *ngIf="showincase">
                <span style="font-weight: bold; ">In Case late filling and payment, or additional filling</span>
                <ul class="p-0 m-0 list-none" >
               
                    <li class="flex align-items-center py-2 flex-container">
                        
                        
                            <span class="item" style="margin-top: 10px;"> 3. Surchange  <i class="pi pi-question-circle"></i></span>
                            <p-inputNumber [(ngModel)]="surcharge" mode="decimal" [minFractionDigits]="2"  [inputStyle]="{'text-align': 'right'}" placeholder="0.00 THB" [readonly]="true" [disabled]="true"></p-inputNumber>
                      
                    </li>
                    <li class="flex align-items-center py-2 flex-container">
                       
                            <span class="item"> 4. Penalty <i class="pi pi-question-circle"></i></span>
                            <p-inputNumber [(ngModel)]="penalty" mode="decimal" [minFractionDigits]="2" [inputStyle]="{'text-align': 'right'}" placeholder="0.00  THB" [readonly]="true" [disabled]="true" style="float:right; margin-top: 20px; margin-bottom: 20px;"></p-inputNumber>
                       
                    </li>
                    <li class="flex align-items-center py-2 flex-container">
                        
                        
                            <span class="item" >  5. Total amount of VAT,surrcharge,and penelty to be remitted (2.+3.+4.)  </span>
                                <p-inputNumber [(ngModel)]="totalAmount" mode="decimal" [minFractionDigits]="2" class="rightS2" [inputStyle]="{'text-align': 'right'}" placeholder="0.00 THB" [readonly]="true" [disabled]="true"></p-inputNumber>
                      
                    </li>
                </ul>
            </div>
            </div>

         
            </div>
            <div class="col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12 xs:col-6" *ngIf="pageOn2" >
                <div class="card ">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border" style="margin-top: 20px;">
                        <h5  style="font-weight: bold; ">Tax Filling Detail</h5>
                    </li>
                   
                    <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                        <li class="flex align-items-center py-2 ">
                            <div class="row mx-0">
                                <div class="col-12 pl-0">
                                    <span style="font-weight: bold;"> Type of Filing </span> <span style="margin-left: 10px;">{{filingType_S }}</span>
                                </div>
                                <div class="col-12 pl-0">
                                    <span style="font-weight: bold;"> VAT Month </span> <span style="margin-left: 10px;">{{monthS}}</span> <span style="margin-left: 10px;">{{yearS}}</span>
                                </div>
                                
                            </div>
                    
                        </li>
                       
                        <div class="flex align-items-center justify-content-between mb-4" style="margin-top: 10px;">
                            <h5  style="font-weight: bold; ">Tax Computation</h5>
                        </div>
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border" style="margin-top: -20px;">
                        </li>
                        
                    </ul>
                  
                    <ul class="p-0 m-0 list-none" >
                   
                        <li class="flex align-items-center py-2 flex-container">
                                <span class="item" style="margin-top: 10px; font-weight: bold;"> Total value of taxable electronic service exclusive of VAT</span>
                                <span > {{saleAmountS}} THB</span>
                      
                        </li>
                        <li class="flex align-items-center py-2 flex-container">
                            <span class="item" style="margin-top: 10px; font-weight: bold;"> Total VAT to be remitted</span>
                            <span > {{taxAmountS}} THB</span>
                         </li>
                         <li class="flex align-items-center py-2 flex-container">
                            <span class="item" style="margin-top: 10px; ">(7% of Total value of taxable electronic exclusive of VAT)</span>
                           
                         </li>
                         <li class="flex align-items-center py-2 flex-container" *ngIf="showincase">
                            <span class="item" style="margin-top: 10px; font-weight: bold;"> Total surcharge</span>
                            <span > {{surchargeS}} THB</span>
                         </li>
                         <li class="flex align-items-center py-2 flex-container" *ngIf="showincase">
                            <span class="item" style="margin-top: 10px; font-weight: bold;"> Total penalty</span>
                            <span > {{penaltyS}} THB</span>
                         </li>
                         <li class="flex align-items-center py-2 flex-container">
                            <span class="item" style="margin-top: 10px; font-weight: bold;"> Total Amount Payable</span>
                            <span style="font-size: 20px; font-weight: bold;"> {{totalAmountS}} THB</span>
                         </li>
                         <div class="flex align-items-center justify-content-between mb-4" style="margin-top: 20px;">
                            <h5  style="font-weight: bold; ">Declaration</h5>
                        </div>
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border" style="margin-top: -40px;">
                        </li>
                        <li class="flex align-items-center py-2 flex-container">
                            <span>I hereby certify that information given above arw true and correct and agree to be bound by such information</span>
                           
                        </li>
                    </ul>
                
                </div>
    
             
                </div>
            
</div>

<div class="layout-footer" *ngIf="cfcase1">
    <div class="row mx-0">
        <button pButton pRipple type="button" label="Back" class="back" (click)="back()"></button>
        <button pButton pRipple type="button" label="Next" class="next" (click)="next()"></button>
    </div>
</div>
<div class="layout-footerS" *ngIf="cfcase2">
    <div class="row mx-0">
     
        <button pButton pRipple type="button" label="Confirm and Submit" class="next" (click)="confirm()"></button>
    </div>
</div>
<p-toast></p-toast>
<p-dialog header="taxData" [(visible)]="taxData">
    <span>{{JsonStr}}</span>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="back()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>