.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
    margin-left: 25%;
    // align-items: ;
    // justify-content: center;
   
    padding-top: 1rem;
 
}
.layout-footerS {
    transition: margin-left $transitionDuration;
    display: flex;
    // margin-left: 40%;
    align-items: center;
    justify-content: center;
   
    padding-top: 1rem;
 
}
@media (max-width: 860px) {
    .layout-footer {
        transition: margin-left $transitionDuration;
        display: flex;
        margin-left: 5%;
        // align-items: ;
        // justify-content: center;
       
        padding-top: 1rem;
     
    }
}